<!DOCTYPE html>
<html>

<body>
<div class="container">

    <div class="jumbotron">
        <h2>Hello World</h2>

        <p>This is a canvas app. It looks like it belongs right in Salesforce, but it actually is served up by a Node.js
            server!</p>

    </div>

    
</div>


</body>
</html>